@font-face {
    font-family: "SF Pro Display";
    src: url("assets/font/SFPRODISPLAYREGULAR.OTF") format("truetype");
    font-style: normal;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #030303;
    font-family: "SF Pro Display", sans-serif;
}

/* header */
.header {
    width: 100%;
    height: 50vh;
    display: flex;

}

.wrappertext-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textatas-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textatas-header h5 {
    margin-top: 20px;
    color: #9A9A9A;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.textatas-header h1 {
    margin-top: 32px;
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
    width: 65%;
    text-align: center;
}

.textbawah-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textbawah-header h3 {
    color: #9A9A9A;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Slideshow container */
.slidetext {
    width: 100%;
    height: auto;
    /* background-color: aqua; */
}

.wrapperslidetext {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    padding: 40px 0;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.wrappertext-slider {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.textservice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.texttools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrappertext-slider .textservice h5 {
    color: #9A9A9A;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.wrappertext-slider .textservice h3 {
    margin-top: 25px;
    color: #fff;
    font-size: 24px;
    width: 70%;
    text-align: center;
}

.wrappertext-slider .textservice h3 em {
    color: #9A9A9A;
}

.wrappertext-slider .texttools h5 {
    color: #9A9A9A;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.wrappertext-slider .texttools h3 {
    margin-top: 25px;
    color: #fff;
    font-size: 24px;
    width: 70%;
    text-align: center;
}

.wrappertext-slider .texttools h3 em {
    color: #9A9A9A;
}

/* Experience sect */
.experience {
    width: 100%;
    height: 50vh;
    display: flex;
    /* background-color: aqua; */

}

.wrappertext-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textatas-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textatas-experience h5 {
    margin-top: 30px;
    color: #9A9A9A;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.textatas-experience h1 {
    margin-top: 32px;
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
    width: 65%;
    text-align: center;
}

.textbawah-experience {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textbawah-experience h3 {
    color: #9A9A9A;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px;
}

.textbawah-experience h3 a {
    color: #fff;
    font-size: 22px;
}

/* company experience */
.company-experience {
    width: 100%;
    height: 40vh;
    /* background-color: aqua; */
}

.wrappercompany-experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    /* background-color: brown; */
}

.wrappercompany-experience .line1 {
    display: flex;
    width: 80%;
    /* background-color: aqua; */
    justify-content: space-between;
}

.wrappercompany-experience .line1 h3 {
    color: #fff;
    font-size: 20px;
    width: 20%;
    text-align: left;
}

.wrappercompany-experience .line1 h4 {
    color: #9A9A9A;
    font-size: 20px;
    width: 20%;
    font-weight: 200;
    text-align: left;
}

.wrappercompany-experience .line1 h5 {
    color: #9A9A9A;
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    text-align: right;
}

.wrappercompany-experience .line2 {
    display: flex;
    width: 80%;
    margin-top: 20px;
    /* background-color: aqua; */
    justify-content: space-between;
}

.wrappercompany-experience .line2 h3 {
    color: #fff;
    width: 20%;
    font-size: 20px;
    text-align: left;
}

.wrappercompany-experience .line2 h4 {
    color: #9A9A9A;
    font-size: 20px;
    width: 20%;
    font-weight: 200;
    text-align: left;
}

.wrappercompany-experience .line2 h5 {
    color: #9A9A9A;
    font-size: 20px;
    font-weight: 500;
    width: 20%;
    text-align: right;
}

.wrappercompany-experience .line3 {
    display: flex;
    width: 80%;
    margin-top: 20px;
    /* background-color: aqua; */
    justify-content: space-between;
}

.wrappercompany-experience .line3 h3 {
    color: #fff;
    width: 20%;
    font-size: 20px;
    text-align: left;
}

.wrappercompany-experience .line3 h4 {
    color: #9A9A9A;
    font-size: 20px;
    width: 20%;
    font-weight: 200;
    text-align: left;
}

.wrappercompany-experience .line3 h5 {
    color: #9A9A9A;
    font-size: 20px;
    width: 20%;
    text-align: right;
    font-weight: 500;
}

.wrappercompany-experience .line4 {
    display: flex;
    width: 80%;
    margin-top: 20px;
    /* background-color: aqua; */
    justify-content: space-between;
}

.wrappercompany-experience .line4 h3 {
    color: #fff;
    width: 20%;
    font-size: 20px;
    text-align: left;
}

.wrappercompany-experience .line4 h4 {
    color: #9A9A9A;
    font-size: 20px;
    width: 20%;
    font-weight: 200;
    text-align: left;
}

.wrappercompany-experience .line4 h5 {
    color: #9A9A9A;
    width: 20%;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
}

/* achivement */
.achievement {
    width: 100%;
    height: auto;
}

.wrappercard1-achievement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    margin-top: 40px;
}

.achievement1-card {
    max-width: 450px;
}

.achievement1-card h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif;
}

.achievement1-card p {
    color: #9A9A9A;
    text-align: justify;
    margin: 20px 0px;
}

.achievement1-card .btn {
    color: #fff;
    text-decoration: none;
}

.achievement2-card {
    max-width: 450px;
}

.achievement2-card h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif;
}

.achievement2-card p {
    color: #9A9A9A;
    text-align: justify;
    margin: 20px 0px;
}

.achievement2-card .btn {
    color: #fff;
    text-decoration: none;
}

.achievement3-card {
    max-width: 450px;
}

.achievement3-card h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif;
}

.achievement3-card p {
    color: #9A9A9A;
    text-align: justify;
    margin: 20px 0px;
}

.achievement3-card .btn {
    color: #fff;
    text-decoration: none;
}

.wrappercard2-achievement {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    padding-bottom: 40px;
    height: auto;
}

.achievement4-card {
    max-width: 450px;
}

.achievement4-card h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif;
}

.achievement4-card p {
    color: #9A9A9A;
    text-align: justify;
    margin: 20px 0px;
}

.achievement4-card .btn {
    color: #fff;
    text-decoration: none;
}

.achievement5-card {
    max-width: 450px;
}

.achievement5-card h1 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    font-family: "SF Pro Display", sans-serif;
}

.achievement5-card p {
    color: #9A9A9A;
    text-align: justify;
    margin: 20px 0px;
}

.achievement5-card .btn {
    color: #fff;
    text-decoration: none;
}

.textheader-achievement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textheader-achievement h5 {
    margin-top: 30px;
    color: #9A9A9A;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.textheader-achievement h1 {
    margin-top: 32px;
    color: #fff;
    font-size: 40px;
    letter-spacing: 5px;
    width: 65%;
    text-align: center;
}


@media (max-width: 576px) {

    .textatas-header h5 {
        font-size: 12px;
        letter-spacing: 3px;
    }

    .textatas-header h1 {
        font-size: 16px;
        width: 80%;
    }

    .textbawah-header h3 {
        font-size: 14px;
        width: 70%;
    }
}